<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syz.community.mapper.QuestionMapper">
    <insert id="addQuestion" parameterType="question">
        insert into question  (title,description,creator,tag,gmt_create,gmt_modified) values (#{title},#{description},#{creator},#{tag},#{gmtCreate},#{gmtModified})
    </insert>
    
    <select id="selAllQuestion" resultType="question">
        select * from question
    </select>
    <select id="selQuestionByUser" parameterType="long" resultType="question">
        select * from question where creator=#{accountId}
    </select>
    <select id="selById"  resultType="question">
        select * from question where id=#{id}
    </select>

</mapper>