<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 ">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " th:if="${section}=='questions'">
                <div class="media" th:each="question:${pagination.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{/question/{id}(id=${question.id})}" th:text="${question.title}"></a>
                        </h4>
                        <span class="text-desc">[[${question.commentCount}]]件返事• [[${question.viewCount}]] 回ブラウズ • [[${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}]] • </span>
                        <a th:href="@{/publish/{id}(id=${question.id})} " class="community-menu"
                           th:if="${session.user!=null && session.user.id==question.creator}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true">編集</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " th:if="${section}=='replies'">
                <div class="media" th:each="notification:${pagination.data}">
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${notification.notifierName +'さんは '}"></span>
                            <a th:href="@{/notification/{id}(id=${notification.id})}"
                               th:text="${notification.outerTitle}"></a>
                            <span th:text="${' '+notification.typeName +' '}"></span>
                            <span class="label label-danger" th:if="${notification.status==0}">未読</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{/profile/{section}/(section=${section},pageNo=1)}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{/profile/{section}/(section=${section},pageNo=${pagination.pageNo - 1})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li th:each="pageNo : ${pagination.pages}" th:class="${pagination.pageNo == pageNo}? 'active' : ''">
                            <a th:href="@{/profile/{section}/(section=${section},pageNo=${pageNo})}" th:text="${pageNo}"></a>
                        </li>

                        <li th:if="${pagination.showNext}">
                            <a th:href="@{/profile/{section}/(section=${section},pageNo=${pagination.pageNo +1})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{/profile/{section}/(section=${section},pageNo=${pagination.totalPage})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
            <div class="list-group section">
                <a href="/profile/questions" th:class="${section}=='questions'?'list-group-item active':'list-group-item'">私の質問</a>
                <a href="/profile/replies" th:class="${section}=='replies'?'list-group-item active':'list-group-item'">最新回答
                <span class="badge" th:text="${session.unReadMessage}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>